button {
  cursor: pointer;
  padding: 16px;
  border: none;
  border-radius: 24px;
  color: white;
  font-weight: 500;
  font-size: medium;
  @include shadowed();
  background-color: $secondary;
  background-image: linear-gradient($secondary, $primary);
  background: $secondary;
  background: linear-gradient($secondary, $primary);
  &:hover {
    @include shadowed($darkgray);
    background-color: $secondary;
    background-image: linear-gradient(
      rgba($secondary, 0.8),
      rgba($primary, 0.8)
    );
    background: $secondary;
    background: linear-gradient(rgba($secondary, 0.8), rgba($primary, 0.8));
  }
}
