div.heart-icons {
  display: grid;
  grid-template: 1fr/1fr;
  grid-template-areas: "heart";
  .fas.fa-heart {
    grid-area: heart;
    opacity: 0;
    &:before {
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from($primary),
        to($secondary)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: initial; /* reset Font Awesome's display:inline-block */
    }
    &:hover {
      opacity: 1;
      transition: opacity 200ms linear;
    }
  }
  .far.fa-heart {
    grid-area: heart;
    &:hover {
      opacity: 0;
    }
  }
}
