// Loading spinner
.loading-spinner {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-lds 2s none;
  i {
    margin-top: -200px;
    font-size: 120px;
    color: $primary;
  }
}

@keyframes fade-lds {
  0% {
    z-index: 1;
    opacity: 1;
  }
  90% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
