$restaurants-imgs: (
  "001-pg": "../assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg",
  "002-ne": "../assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg",
  "003-lf": "../assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg",
  "004-ds":
    "../assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg",
);

@each $id, $url in $restaurants-imgs {
  .restaurants__cards__card__img.id-#{$id} {
    background-image: url("../" + $url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@each $id, $url in $restaurants-imgs {
  .main-img.id-#{$id} {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
