html,
body {
  font-family: $txt-font;
  background-color: $lightgray;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  display: block;
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

p {
  margin: 4px 0px;
}

.list-nodecor {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 4px 0px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  div.content {
    display: grid;
    grid-template-rows: 188px 51px 1fr;
    grid-template-columns: 264px 1fr;
    grid-template-areas:
      "explo explo"
      "loc loc"
      "fonc restaurants";
    div.location {
      grid-area: loc;
    }
    div.exploration {
      grid-area: explo;
      h2 {
        margin-top: 0px;
      }
    }
    aside.fonctionnement {
      grid-area: fonc;
      h2 {
        margin-top: 0px;
      }
    }
    main.restaurants {
      grid-area: restaurants;
      padding-bottom: 16px;
      h2 {
        margin-top: 0px;
      }
    }
  }
}
