$title-font: "Shrikhand", cursive;
$txt-font: "Roboto", sans-serif;

.title-font {
  font-family: "Shrikhand", cursive;
}

.txt-font {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}
