.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: $midgray;
  box-shadow: inset 0px 2px 4px 0px $darkgray;
  i {
    margin-right: 16px;
  }
  span {
    font-weight: 500;
  }
}

.exploration {
  padding: 24px;
  background-color: $lightgray;
  p {
    padding-bottom: 16px;
  }
}

.fonctionnement {
  padding: 16px;
  padding-bottom: 36px;
  .fonctionnement__buttons {
    padding: 4px;
    margin-left: 8px;
    display: grid;
    gap: 16px;
    place-self: center;
  }
  .step-button {
    background-color: $lightgray;
    padding: 16px;
    border-radius: 16px;
    @include shadowed();
    display: grid;
    grid-template-columns: 5% 15% 80%;
    .step-button__num {
      margin-left: -28px;
      font-size: small;
      padding: 4px 8px;
      text-align: center;
      color: white;
      background-color: $primary;
      border-radius: 16px;
      width: fit-content;
      height: 15px;
      align-self: center;
    }
    i {
      align-self: center;
      color: $darkgray;
    }
    span {
      align-self: center;
      font-weight: bold;
    }
    &.active {
      background-color: rgba($primary, 0.2);
      i {
        color: $primary;
      }
    }
  }
}

.restaurants {
  padding: 16px;
  padding-bottom: 36px;
  background-color: $lightgray;
  @include a_no-decor();
  .restaurants__cards {
    display: grid;
    gap: 16px;
    .restaurants__cards__card {
      background-color: white;
      border-radius: 16px;
      @include shadowed();
      .restaurants__cards__card__img {
        position: relative;
        height: 148px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        // div {
        // object-fit: cover;
        // width: 100%;
        // }
        // & > img {
        //   object-fit: cover;
        //   width: 100%;
        //   height: 148px;
        //   border-top-left-radius: 16px;
        //   border-top-right-radius: 16px;
        // }
        span.new {
          padding: 8px 12px;
          font-size: small;
          font-weight: bold;
          background-color: $tertiary;
          color: $tertiary-txt;
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
      .restaurants__cards__card__footer {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .restaurants {
    .restaurants__cards {
      padding: 0 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      a {
        place-self: center;
        justify-self: stretch;
      }
    }
  }
}
@media (min-width: $breakpoint-laptop-L) {
  .restaurants {
    .restaurants__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
