// Menus
div.main-img {
  height: 216px;
}
main.menu {
  top: -24px;
  padding: 16px;
  background-color: $lightgray;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  display: grid;
  position: relative;
  button {
    margin: 16px;
    place-self: center;
  }
}
header.menu__header {
  display: grid;
  grid-template-columns: 80% 20%;
  h1 {
    place-self: center left;
  }
  div.heart-icons {
    place-self: center right;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translate-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
div.menu__courses {
  div.menu__course {
    margin-bottom: 36px;
    div.course__name {
      padding: 4px 0;
      margin: 12px 0;
      border-bottom: 2px solid $tertiary;
      width: 36px;
      h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: medium;
        font-weight: 100;
        color: $darkgray;
      }
    }
    div.course__dishes {
      display: grid;
      gap: 16px;
      div.course__dish {
        // animation: translate-up 0.4s linear;
        background-color: white;
        border-radius: 16px;
        @include shadowed();
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        div.dish__info {
          width: 100%;
          padding: 12px;
          display: grid;
          grid-template-areas: "name x" "details price";
          grid-template-columns: 82% 18%;
          .dish__name {
            grid-area: name;
            margin: 0 0 4px 0;
            align-self: center;
            font-size: 0.97em;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }
          .dish__details {
            margin: 0;
            grid-area: details;
            align-self: center;
            font-size: 0.87em;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }
          .dish__price {
            font-size: 0.87em;
            grid-area: price;
            justify-self: right;
            align-self: center;
            white-space: nowrap;
          }
        }
        div.dish__check-icon {
          background-color: $tertiary;
          border-top-right-radius: 16px;
          border-bottom-right-radius: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0%;
          opacity: 0;
          transition: opacity 0.4s, width 0.4s;
          overflow: hidden;
          i {
            font-size: 24px;
            color: white;
          }
        }
        &:hover {
          div.dish__check-icon {
            transition: width 0.3s ease-in, opacity 0.1s ease-in;
            width: 24%;
            opacity: 1;
            i {
              opacity: 1;
              animation: spin 0.3s linear;
            }
          }
          div.dish__info {
            .dish__name {
              white-space: nowrap;
              overflow: hidden !important;
              text-overflow: ellipsis;
            }
          }
        }
      }
      @for $i from 1 through 4 {
        :nth-child(#{$i}) {
          animation: fadein #{$i * 0.8}s linear;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  div.menu__courses {
    div.menu__course {
      div.course__dishes {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
