@mixin shadowed($colour: rgb(209, 209, 209)) {
  box-shadow: 2px 2px 4px 2px $colour;
}

@mixin a_no-decor {
  a {
    text-decoration: none;
    color: inherit;
  }
}

@mixin title-font() {
  font-family: "Shrikhand", cursive;
}
