$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$tertiary-txt: #0a8d6d;
$darkgray: #4f4f4f;
$midgray: #eaeaea;
$lightgray: #f6f6f6;

// Media queries
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-L: 1440px;
