footer {
  background-color: $darkgray;
  padding: 16px;
  color: white;
  .footer-title {
    font-size: medium;
    margin: 0;
    padding-bottom: 16px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  @include a_no-decor();
  a {
    padding-bottom: 4px;
  }
  .footer-link-with-icon {
    display: grid;
    grid-template-columns: 24px 1fr;
    i {
      align-self: center;
    }
  }
}
