$header-height: 48px;

header {
  height: $header-height;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &.logo-header {
    background-color: white;
    padding: 12px 0;
  }
  @include a_no-decor();
  a.header-arrow {
    position: absolute;
    left: 32px;
  }
}
